<%- include("_header") -%>
<h1>Find customers</h1>
<p>Total number of records in database: <%= model.length %></p>
<form action="/customers" method="POST" id="customers">
    <p class="row row-cols-sm-4 mb-2">
        <label for="id" class="col">ID:</label>
        <input class="form-control col" name="id" id="id" type="text" pattern="\d*"> <!-- regex -->
        <span class="col">(equal)</span>
    </p>
    <p class="row row-cols-sm-4 mb-2">
        <label for="fname" class="col">First Name:</label>
        <input class="form-control col" type="text" name="fname" id="fname">
        <span class="col">(begins with)</span>
    </p>
    <p class="row row-cols-sm-4 mb-2">
        <label for="lname" class="col">Last Name:</label>
        <input class="form-control col" type="text" name="lname" id="lname">
        <span class="col">(begins with)</span>
    </p>
    <p class="row row-cols-sm-4 mb-2">
        <label for="state" class="col">State:</label>
        <input class="form-control col" type="text" name="state" id="state" pattern="[a-zA-Z]{1,2}">
        <span class="col">(equal)</span>
    </p>
    <p class="row row-cols-sm-4 mb-2">
        <label for="sales" class="col">Sales YTD:</label>
        <input class="form-control col" name="sales" id="sales" type="text" pattern="\d*">
        <span class="col">(greater than or equals to)</span>
    </p>
    <p class="row row-cols-sm-4 mb-2">
        <label for="prev" class="col">Previous Years Sales:</label>
        <input class="form-control col" name="prev" id="prev"  type="text" pattern="\d*">
        <span class="col">(greater than or equals to)</span>
    </p>

    <button class="btn btn-primary" type="submit">Find</button>
    <button class="btn btn-primary" type="reset">Reset</button>
</form>

<% if (type === "post") { %>
    <% if (result.result.length === 0) { %>
        <h3>No records found!</h3>
    <% } else { %>
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">State Name</th>
            <th scope="col">Current sales</th>
            <th scope="col">Prev sales</th>
            <th scope="col"><a href="/create" class="btn btn-success">Create</a></th>
        </tr>
        </thead>
        <tbody>
        <% result.result.forEach(customer => { %>
            <tr>
                <td><%= customer.cust_id %></td>
                <td><%= customer.cust_fname %></td>
                <td><%= customer.cust_lname %></td>
                <td><%= customer.cust_state %></td>
                <td><%= customer.cust_curr_sales %></td>
                <td><%= customer.cust_prev_sales %></td>
                <td>
                    <a href="/update/<%=customer.cust_id %>" class="btn btn-warning">Update</a>
                    <a href="/delete/<%=customer.cust_id %>" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        <% }) %>
        </tbody>
    </table>
<% } %>
<% } %>

<%- include("_footer") -%>

