<%- include("_header") -%>

<h1>Update Customer</h1>

<form action="/update/<%= data.cust_id %>" method="POST" id="create">
    <p class="row row-cols-sm-4 mb-2">
        <label for="id" class="col">ID:</label>
        <input class="form-control col" name="id" id="id" required type="text" readonly value="<%= data.cust_id %>">
        <span class="col">(required)</span>
    </p>
    <p class="row row-cols-sm-4 mb-2">
        <label for="fname" class="col">First Name:</label>
        <input class="form-control col" type="text" name="fname" id="fname" required value="<%= data.cust_fname %>">
        <span class="col">(required)</span>
    </p>
    <p class="row row-cols-sm-4 mb-2">
        <label for="lname" class="col">Last Name:</label>
        <input class="form-control col" type="text" name="lname" id="lname" required  value="<%= data.cust_lname %>">
        <span class="col">(required)</span>
    </p>
    <p class="row row-cols-sm-4 mb-2">
        <label for="state" class="col">State:</label>
        <input class="form-control col" type="text" name="state" id="state" pattern="[a-zA-Z]{1,2}" value="<%= data.cust_state %>">
    </p>
    <p class="row row-cols-sm-4 mb-2">
        <label for="sales" class="col">Sales YTD:</label>
        <input class="form-control col" name="sales" id="sales" type="text" pattern="\d*" value="<%= data.cust_curr_sales %>">
    </p>
    <p class="row row-cols-sm-4 mb-2">
        <label for="prev" class="col">Previous Years Sales:</label>
        <input class="form-control col" name="prev" id="prev"  type="text" pattern="\d*" value="<%= data.cust_prev_sales %>">
    </p>

    <button class="btn btn-warning" type="submit">Update</button>
</form>

<% if(message) { %>
    <p><%= message %></p>
<% } %>

<%- include("_footer") -%>
